* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-menu-title-content {
  color: green !important;
}
.ant-menu-item-icon {
  color: green !important;
}
.ant-menu-item-icon-selected {
  color: green !important;
}
